<div id="<%= dom_id reservation %>">
  <p>
    <strong>First name:</strong>
    <%= reservation.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= reservation.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= reservation.phone %>
  </p>

  <p>
    <strong>date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>seats:</strong>
    <%= reservation.time %>
  </p>

  

</div>
